{% load url from future %}
{% load endless %}
<table id="biclusters" class="table">
    <thead>
        <tr>
            <th class="first">Organism</th>
            <th>Network</th>
            <th>Bicluster ID</th>
            <th>Genes</th>
            <th>Conditions</th>
            <th>CRMs</th>
            <th>Corems</th>
            <th>GREs</th>
        </tr>
    </thead>
    <tbody>
        {% paginate 25 objects %}
        {% for object in objects %}
            <tr class="{% cycle 'row-a' 'row-b' %}">
                <td class="first"><a href="/Project/species/{{object.species.ncbi_taxonomy_id}}">{{ object.species.name }}</a></td>
                <td><a href="/Project/networks/{{object.species.ncbi_taxonomy_id}}">{{ object.bc.network.version_id }}</td>
                <td><a href="/Project/biclusters/{{object.species.ncbi_taxonomy_id}}/{{object.bc.bc_id}}">{{ object.bc.bc_id }}</td>
                <td>{{ object.bc.genes.count }}</td>
                <td>{{ object.bc.conditions.count }}</td>
                <td>{{ object.bc.cre_ids.count }}</td>
                <td>{{ object.bc.gre_ids.count }}</td>
                <td>{{ object.bc.corems.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<!-- {% include 'motif_helper.html' %} -->

{% show_more %}

