{% extends 'base.html' %}
{% load url from future %}
{% block title %}Browse{% endblock %}
{% block nav %}
	<!-- navigation starts-->
	<div  id="nav">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li id="current"><a href="{% url 'browse' %}">Browse</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
			<li><a href="{% url 'downloads' %}">Downloads</a></li>
			<li><a href="{% url 'contact' %}">Support</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
            
        <blockquote><p>Browse EGRIN2.0</p></blockquote>
				
			<table>
				<tr>
					<th class="first">attribute</th>
					<th>value</th>
					<th>description</th>
				</tr>
                <tr class="row-a">
					<td class="first">Species</td>
					<td><a href="{% url 'species' %}">{{ species }}</a></td>
					<td>Species modeled</td>
				</tr>
                <tr class="row-b">
					<td class="first">Networks</td>
					<td><a href="{% url 'networks' %}">{{ networks }}</a></td>
					<td>Networks inferred</td>
				</tr>
                <tr class="row-a">
					<td class="first">Corems</td>
					<td><a href="{% url 'corems' %}">{{ corems }}</a></td>
					<td>Corems discovered</td>
				</tr>
				<tr class="row-b">
					<td class="first">Genes</td>
					<td><a href="{% url 'genes' %}">{{ genes }}</a></td>
					<td>Genes modeled</td>
				</tr>
				<tr class="row-b">
					<td class="first">Conditions</td>
					<td><a href="{% url 'conditions' %}">{{ conditions }}</a></td>
					<td>Conditions in the models</td>
				</tr>
				<tr class="row-a">
					<td class="first">GREs</td>
					<td><a href="{% url 'gres' %}">{{ gres }}</a></td>
					<td>GREs discovered</td>
				</tr>
                <tr class="row-b">
					<td class="first">Biclusters</td>
					<td><a href="{% url 'biclusters' %}">{{ biclusters }}</a></td>
					<td>Biclusters in the models</td>
				</tr>
                <tr class="row-a">
					<td class="first">Known Regulators</td>
					<td><a href="{% url 'regulators' '511145' %}">{{ tfs }}</a></td>
					<td>Mapping to TFs (E. coli only)</td>
				</tr>
			</table>
								
			<br />		
		<!-- main ends -->
		</div>
{% endblock %}
