{% extends 'base.html' %}
{% load url from future %}
{% block title %}Corems{% endblock %}
{% block nav %}
<!-- navigation starts-->
	<div  id="nav">
		<ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
      <li><a href="{% url 'search' %}">Search</a></li>
      <li><a href="{% url 'downloads' %}">Downloads</a></li>
      <li><a href="{% url 'contact' %}">Support</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>	
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
      {% for o in out %}	
      <script>
        $(document).ready(function() {
          $("#corem{{forloop.counter}}").dataTable({
            'bFilter': false,
            'bSort': false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'corems_json' %}{{o.ncbi_taxonomy_id}}"
          });
        });
      </script>
      <blockquote><p>{{ o.species_name }} corem information</p></blockquote>
      <table id="corem{{forloop.counter|stringformat:"s"}}" class="table">
        <thead>
          <tr>
            <th class="first">Corems</th>
            <th>Genes</th>
            <th>Conditions</th>
            <th>GREs</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    {% endfor %}
		    <!-- main ends -->
		</div>
{% endblock %}
