{% extends 'base.html' %}
{% load url from future %}
{% block title %}Corems{% endblock %}
{% block nav %}
<!-- navigation starts-->
	<div  id="nav">
		<ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
      <li><a href="{% url 'search' %}">Search</a></li>
      <li><a href="{% url 'downloads' %}">Downloads</a></li>
      <li><a href="{% url 'contact' %}">Support</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>	
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
      {% for o in out %}	
      <script>
        $(document).ready(function() {
          $("#corem{{forloop.counter}}")
          .tablesorter({widthFixed: false, widgets: ['zebra'],sortList: [[1,0]]})
          .tablesorterPager({container: $("#pager_corem{{forloop.counter}}"), positionFixed: false});
        });
      </script>
      <blockquote><p>{{ o.species_name }} corem information</p></blockquote>
      <table id="corem{{forloop.counter|stringformat:"s"}}" class="table">
        <thead>
          <tr>
            <th class="first">Corems</th>
            <th>Genes</th>
            <th>Conditions</th>
            <th>GREs</th>
          </tr>
        </thead>
        <tbody>
          {% for corem in o.corems %}
          <tr class="{% cycle 'row-a' 'row-b' %}">
            <td><a href="{% url 'corems' %}{{ o.ncbi_taxonomy_id }}/{{ corem.corem_id }}">{{ corem.corem_id }}</a></td>
            <td>{{ corem.gene_count }}</td>
            <td>{{ corem.condition_count }}</td>
            <td>{{ corem.gre_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="pager_corem{{forloop.counter|stringformat:"s"}}">
        {% include 'pager.html' %}
        {% endfor %}
		    <!-- main ends -->
		</div>
{% endblock %}
