{% extends 'base.html' %}
{% load url from future %}
{% block title %}Downloads{% endblock %}
{% block nav %}
	<!-- navigation starts-->
	<div  id="nav">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'browse' %}">Browse</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
			<li id="current"><a href="{% url 'downloads' %}">Downloads</a></li>
			<li><a href="{% url 'contact' %}">Support</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
            
            <blockquote><p>Supplementary Data</p></blockquote>
            <h3><p>Expression Data</p></h3>
            <div><p>Tab delimited <i>Halobacterium salinarum NRC-1</i> expression data set, 2400 genes x 1495 arrays</p></div>
            <h2><p>EGRIN2.0</p></h2>
            <h2><p>Environmental Ontology</p></h2>
            <div><p>Full <i>Halobacterium salinarum NRC-1</i> environmental ontology, .obo flat file. Requires <a href="http://oboedit.org/">OBO-edit</a> to view.</p></div>
            <blockquote><p>Supplementary Figures</p></blockquote>
            <blockquote><p>Supplementary Tables</p></blockquote>
            
            <table>
            	<tr>
            </table>
		<!-- main ends -->
		</div>
{% endblock %}
