{% extends 'base.html' %}
{% block title %}Browse{% endblock %}
{% block nav %} 
	<!-- navigation starts-->	
	<div  id="nav">
		<ul>
			<li><a href="/Project/">Home</a></li>
			<li><a href="/Project/browse">Browse</a></li>
			<li><a href="/Project/search">Search</a></li>
			<li id="current"><a href="/Project/downloads">Downloads</a></li>
			<li><a href="/Project/contact">Support</a></li>
			<li><a href="/Project/about">About</a></li>		
		</ul>
	<!-- navigation ends-->	
	</div>					
{% endblock %}
{% block content %}			
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
            <h1>Downloads</h1>
		<!-- main ends -->	
		</div>
{% endblock %}