{% extends 'base.html' %}
{% load url from future %}
{% block title %}Downloads{% endblock %}
{% block nav %}
	<!-- navigation starts-->
	<div  id="nav">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'browse' %}">Browse</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
			<li id="current"><a href="{% url 'downloads' %}">Downloads</a></li>
			<li><a href="{% url 'contact' %}">Support</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
            <h1>Downloads</h1>
            
            <blockquote><p>Expression Data</p></blockquote>
            <blockquote><p>EGRIN2.0</p></blockquote>
            <blockquote><p>Environmental Ontology</p></blockquote>
            
            <table>
            	<tr>
            </table>
		<!-- main ends -->
		</div>
{% endblock %}
