{% extends 'base.html' %}
{% load url from future %}
{% block title %}Gene {{ g.sys_name }}{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/javascripts/isblogo_mod_ab.js"></script>
    <script type='text/javascript' src='/static/javascripts/magnifimage.js'></script>
    
    <script class="example" type="text/javascript">
    // Create the tooltips only on document load
	$(document).ready(function() 
	{
		MagnifImage.setup(  
				"promoterarch", "/static/images/promoter_architecture/{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}.png","{{ g.sys_name }} Promoter Architecture"
				);
	   // Match all link elements with href attributes within the content div
	});
	</script>    
    
{% endblock %}
{% block nav %}
<!-- navigation starts-->
<div  id="nav">
	<ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
	</ul>
	<!-- navigation ends-->
</div>	
{% endblock %}
{% block content %}
<!-- content-wrap starts -->
<div id="content-wrap">
	<div id="main">
    <script>
      $(document).ready(function() {
        $("#gres").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']]
        });
        $("#conditions").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[2, 'asc']]
        });
        $("#biclusters").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']]
        });                
      });
    </script>
		<table>
      <thead>
        <tr>
          <th class="first">Organism</th>
          <th>Gene name</th>
          <th>Common name</th>
          <th>Accession</th>
          <th>Description</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Strand</th>
          <th>Chromosome</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-a">
          <td class="first"><a href="{% url 'species' %}{{ s.ncbi_taxonomy_id }}">{{ s.name }}</a></td>
          <td><a href="{% url 'genes' %}{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}">{{ g.sys_name }}</a></td>
          <td>{{ g.name }}</td>
          <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{ g.accession }}">{{ g.accession }}</a></td>
          <td>{{ g.description }}</td>
          <td>{{ g.start }}</td>
          <td>{{ g.stop }}</td>
          <td>{{ g.strand }}</td>
          <td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ g.chromosome.refseq }}">{{ g.chromosome.refseq }}</a></td>
        </tr>
      </tbody>
    </table>

    <blockquote><p>Corem membership</p></blockquote>
		<ul>
      {% for corem in corems %}
      <li><a href="{% url 'corems' %}{{ s.ncbi_taxonomy_id }}/{{ corem.corem_id }}">{{ corem.corem_id }}</a></li>
      {% endfor %}
    </ul>

    <blockquote><a id = "prom_arch" href="#" title="this is a test">Promoter Architecture</p></blockquote>
    <img id = "promoterarch" src="/static/images/promoter_architecture/{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}.png" background-color="black" width=100% height=100% class="float-center" />
    <blockquote><p>GREs enriched in biclusters</p></blockquote>
		<table id="gres" class="table">
      <thead>
        <tr>
          <th class="first">GRE ID</th>
          <th>qval</th>
          <th>PSSM</th>
        </tr>
      </thead>
      <tbody>
        {% for o in gre_obj %}
        <tr class="{% cycle 'row-a' 'row-b' %}">
          <td class="first"><a href="{% url 'gre_detail' s.ncbi_taxonomy_id o.gre_id %}">{{ o.gre_id }}</a></td>
          <td>{{ o.gene_pval }}</td>
          <td><img src="/static/images/gres/{{ s.ncbi_taxonomy_id }}/{{ o.gre_id }}.png" background-color="black" width=220 height=120 class="float-center" /></td>
          <!-- <td><span id="previewcanvas_{{ o.gre_id }}"></span></td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
            
    <blockquote><p>Conditional Activity</p></blockquote>
		<table id="conditions" class="table">
      <thead>
        <tr>
          <th class="first">Condition ID</th>
          <th>Condition Name</th>
          <th>pval</th>
        </tr>
      </thead>
      <tbody>
        {% for c in conds %}
        <tr class="{% cycle 'row-a' 'row-b' %}">
          <td class="first"><a href="{% url 'conditions' %}{{ s.ncbi_taxonomy_id }}/{{ c.0 }}">{{ c.0 }}</a></td>
          <td>{{ c.1 }}</td>
          <td>{{ c.2 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
            
    <blockquote><p>Biclusters</p></blockquote>
		<table id="biclusters" class="table">
      <thead>
        <tr>
          <th class="first">Bicluster ID</th>
          <th>Residual</th>
          <th>Genes</th>
          <th>Conditions</th>
        </tr>
      </thead>
      <tbody>
        {% for o in biclusters %}
        <tr class="{% cycle 'row-a' 'row-b' %}">
          <td class="first"><a href="{% url 'biclusters' %}{{ s.ncbi_taxonomy_id }}/{{ o.bc_id }}">{{ o.bc_id }}</a></td>
          <td>{{ o.residual }}</td>
          <td>{{ o.genes.count }}</td>
          <td>{{ o.conditions.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
		  <!-- main ends -->
		</div>


{% endblock %}
