{% extends 'base.html' %}
{% load url from future %}
{% block title %}GRE {{ gre.gre_id }}{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/static/javascripts/isblogo_mod_ab.js"></script>
{% endblock %}
{% block nav %}
<!-- navigation starts-->	
<div  id="nav">
	<ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>	
	</ul>
	<!-- navigation ends-->	
</div>	
{% endblock %}
{% block content %}			
<!-- content-wrap starts -->
<div id="content-wrap">
	<div id="main">
    <script>
      $(document).ready(function() {            
        $("#corems").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gre_corems_json' %}{{species}}/{{gre}}"
        });
        $("#genes").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']]
        });
        $("#conditions").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[2, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gre_conditions_json' %}{{species}}/{{gre}}"
        });
        $("#biclusters").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gre_biclusters_json' %}{{species}}/{{gre}}"
        });
        $("#cres").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[3, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gre_cres_json' %}{{species}}/{{gre}}"
        });
		$("#gene_tip").qtip({
			content: 'Genes determined by hypergeometric test through bicluster membership, reported if BH-corrected qvalue <= 0.05.',
          	position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },          
		    style: 'dark' 
		   	});
		$("#corem_tip").qtip({
			content: 'Reported corems contain GRE in representative biclusters for that corem (i.e. biclusters containing largest fraction of genes in corem, top decile), suggesting that these GREs are responsible for regulating the corem. qval is BH-corrected pval from hypergeometric test.',
          	position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },          
		    style: 'dark' 
		   	});
		$("#bicluster_tip").qtip({
			content: 'Biclusters containing a cis-regualtory motif (CRM) mapped to GRE.',
          	position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },         
		    style: 'dark' 
		   	});
		$("#condition_tip").qtip({
			content: 'Conditions determined by hypergeometric test through bicluster membership, reported if BH-corrected qvalue <= 0.05.',
			position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },          
		    style: 'dark' 
		   	});
		$("#crm_tip").qtip({
			content: 'CRM: cis-regulatory motif. Motifs discovered in individual biclusters clustered into GRE. May be depicted as reverse complement. Evalue computed by MEME.',
			position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },          
		    style: 'dark' 
		   	});
      });
		</script>
    <blockquote><p>GRE {{ gre.gre_id }}</p></blockquote>
    <div>
      <img src="/static/images/gres/{{ s.ncbi_taxonomy_id }}/{{ gre.gre_id }}.png" background-color="black" width=440 height=240 class="float-center" />
    </div>
    <!-- <p><span id="previewcanvas_{{ gre.gre_id }}"></p> -->
    
    <blockquote><p>Corems <a id="corem_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
		<table id="corems" class="table">
      <thead>
        <tr>
          <th class="first">Corem ID</th>
          <th>qval</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
		</table>
            
    <blockquote><p>Genes <a id="gene_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
    <table id="genes" class="table">
      <thead>
				<tr>
					<th class="first">Organism</th>
          <th>Gene name</th>
					<th>Common name</th>
					<th>Accession</th>
          <th>Description</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Strand</th>
          <th>Chromosome</th>
				</tr>
      </thead>
      <tbody>
        {% for g in genes %}
        <tr class="{% cycle 'row-a' 'row-b' %}">
          <td class="first"><a href="{% url 'species' %}{{ s.ncbi_taxonomy_id }}">{{ s.name }}</a></td>
          <td><a href="{% url 'genes' %}{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}">{{ g.sys_name }}</a></td>
          <td>{{ g.name }}</td>
          <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{ g.accession }}">{{ g.accession }}</a></td>
          <td>{{ g.description }}</td>
          <td>{{ g.start }}</td>
          <td>{{ g.stop }}</td>
          <td>{{ g.strand }}</td>
          <td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ g.chromosome.refseq }}">{{ g.chromosome.refseq }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
			
    <blockquote><p>Conditions <a id="condition_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
		<table id="conditions" class="table">
			<thead>
				<tr>
					<th class="first">Condition ID</th>
					<th>Condition Name</th>
					<th>pval</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
    </table>
            
    <blockquote><p>Biclusters <a id="bicluster_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
		<table id="biclusters" class="table">
      <thead>
        <tr>
          <th class="first">Bicluster ID</th>
          <th>Residual</th>
          <th>Genes</th>
          <th>Conditions</th>
        </tr>
      </thead>
      <tbody>
        {% for o in biclusters %}
        <tr class="{% cycle 'row-a' 'row-b' %}">
          <td class="first"><a href="{% url 'biclusters' %}{{ s.ncbi_taxonomy_id }}/{{ o.bc_id }}">{{ o.bc_id }}</a></td>
          <td>{{ o.residual }}</td>
          <td>{{ o.genes.count }}</td>
          <td>{{ o.conditions.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
            
    <blockquote><p>CRMs <a id="crm_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
		<table id="cres" class="table">
      <thead>
        <tr>
          <th class="first">CRM ID</th>
          <th>Bicluster</th>
          <th>PSSM</th>
          <th>eval</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
		<!-- main ends -->	
  </div>
{% endblock %}
