<script>
    var ids = [];
    var django_pssm = [];
    {% for object in objects %}
     ids.push({{ object.gre_id }})
     django_pssm.push({{ object.pssm }})
    {% endfor %}
    initCanvas2 = function (pssmMap, prefix, motifIds) {
        var i;
        for (i = 0; i < motifIds.length; i += 1) {
            var motifId = motifIds[i];
            var pssm = { alphabet: ['A', 'C', 'G', 'T'],
                        values: pssmMap[i]
                        };
            var canvas_id = prefix + motifId;
            var canvasOptions = {
                width: 220, //400,
                height: 120, //300,
                glyphStyle: '20pt Helvetica'
            };
            isblogo.makeLogo(canvas_id, pssm, canvasOptions);
            }
        };
    initCanvas2(django_pssm, 'previewcanvas_', ids);
</script>


