{% extends 'base.html' %}
{% load url from future %}
{% block title %}{{ tf }} detail{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/javascripts/isblogo_mod_ab.js"></script>
{% endblock %}

{% block nav %}
<!-- navigation starts-->	
<div  id="nav">
	<ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>	
	</ul>
	<!-- navigation ends-->	
</div>	
{% endblock %}
{% block content %}			
<!-- content-wrap starts -->
<div id="content-wrap">
	<div id="main">
    <script>
      $(document).ready(function() {
        $("#gres").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[2, 'asc']]
        });
        $("#corems").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[2, 'asc']]
        });
        $("#genes").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[8, 'asc']]
        });
        $("#conditions").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[3, 'asc']]
        });			            
      });
		</script>
    <blockquote><p>Regulator {{ tf }}</p></blockquote>
    <div>
      <img src="/static/images/regulators/{{ s.ncbi_taxonomy_id }}/{{ o.tf }}.png" background-color="black" width=440 height=240 class="float-center" />
    </div>    
    <blockquote><p>GREs</p></blockquote>
			<table id="gres" class="table">
        <thead>
          <tr>
            <th class="first">GRE ID</th>
            <th>PSSM</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for o in greObjs %}
          <tr class="{% cycle 'row-a' 'row-b' %}">
            <td class="first"><a href="{% url 'gre_detail' s.ncbi_taxonomy_id o.gre_id %}">{{ o.gre_id }}</td>
            <td><img src="/static/images/gres/{{ s.ncbi_taxonomy_id }}/{{ o.gre_id }}.png" background-color="black" width=220 height=120 class="float-center" /></td>
            <!-- <td><span id="previewcanvas_{{ o.cre_id }}"></span></td> -->
            <td>{{ o.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        
      <!-- <p><span id="previewcanvas_{{ gre.gre_id }}"></p> -->
      <blockquote><p>Corems</p></blockquote>
			<table id="corems" class="table">
        <thead>
          <tr>
            <th class="first">Corem ID</th>
            <th>GRE</th>
            <th>pval</th>
          </tr>
        </thead>
        <tbody>
          {% for c in corem_pval %}
          <tr class="{% cycle 'row-a' 'row-b' %}">
            <td class="first"><a href="{% url 'corems' %}{{ s.ncbi_taxonomy_id }}/{{ c.corem.corem_id }}">{{ c.corem.corem_id }}</a></td>
            <td>{{ c.gre.gre_id }}</td>
            <td>{{ c.p_val }}</td>
          </tr>
					{% endfor %}
        </tbody>
			</table>
            
      <blockquote><p>Genes</p></blockquote>
      <table id="genes" class="table">
        <thead>
				  <tr>
            <th class="first">Gene name</th>
					  <th>Common name</th>
            <th>Description</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Strand</th>
            <th>Chromosome</th>
            <th>GRE</th>
            <th>pval</th>
				  </tr>
        </thead>
        <tbody>
          {% for g in gene_pval %}
          <tr class="{% cycle 'row-a' 'row-b' %}">
            <td class="first"><a href="{% url 'genes' %}{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}">{{ g.gene.sys_name }}</a></td>
            <td>{{ g.gene.name }}</td>
            <td>{{ g.gene.description }}</td>
            <td>{{ g.gene.start }}</td>
            <td>{{ g.gene.stop }}</td>
            <td>{{ g.gene.strand }}</td>
            <td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ g.gene.chromosome.refseq }}">{{ g.gene.chromosome.refseq }}</a></td>
            <td>{{ g.gre.gre_id }}</td>
            <td>{{ g.p_val }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
			
      <blockquote><p>Conditions</p></blockquote>
			<table id="conditions" class="table">
				<thead>
					<tr>
						<th class="first">Condition ID</th>
						<th>Condition Name</th>
            <th>GRE</th>
						<th>pval</th>
					</tr>
				</thead>
				<tbody>
					{% for o in conds_pval %}
					<tr class="{% cycle 'row-a' 'row-b' %}">
						<td class="first"><a href="{% url 'conditions' %}{{ s.ncbi_taxonomy_id }}/{{ o.cond_id.cond_id }}">{{ o.cond.cond_id }}</a></td>
						<td>{{ o.cond.cond_name }}</td>
            <td>{{ o.gre_id }}</td>
						<td>{{ o.p_val }}</td>
					</tr>
					{% endfor %}
				</tbody>
      </table>
		  <!-- main ends -->	
  </div>
{% endblock %}
