{% extends 'base.html' %}
{% load url from future %}
{% block title %}Biclusters{% endblock %}
{% block nav %}
<!-- navigation starts-->	
<div  id="nav">
	<ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>	
	</ul>
	<!-- navigation ends-->	
</div>	
{% endblock %}
{% block content %}		
<!-- content-wrap starts -->
<div id="content-wrap">
	<div id="main">
    <script>
      $(document).ready(function() {  
        $('#biclusters').dataTable({
          "bFilter": false,
          "bSort": false,
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'biclusters_json' %}{{species_obj.ncbi_taxonomy_id}}"
        });
      });
    </script>
    <blockquote><p>Bicluster Information for {{species_obj.name}}</p></blockquote>
    <table id="biclusters" class="dataTable">
      <thead>
        <tr>
          <th class="first">Network</th>
          <th>Bicluster ID</th>
          <th>Genes</th>
          <th>Conditions</th>
          <th><i>cis</i>-regulatory motifs</th>
          <th>Corems</th>
          <th>GREs</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <!-- main ends -->
	</div>
{% endblock %}
