{% extends 'base_headerless.html' %}
{% load url from future %}
{% block title %}Condition {{ condition.cond_id }}{% endblock %}
{% block nav %}
<!-- navigation starts-->
<div  id="nav">
	<ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
	</ul>
	<!-- navigation ends-->
</div>	
{% endblock %}
{% block content %}
<!-- content-wrap starts -->
<div id="content-wrap">
	<div id="main">
    <script>
      $(document).ready(function() {
        $("#corems").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'condition_corems_json' %}{{species}}/{{condition}}"
        });
        $("#genes").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'condition_genes_json' %}{{species}}/{{condition}}"
        });
        $("#gres").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'condition_gres_json' %}{{species}}/{{condition}}"
        });
        $("#bcs").dataTable({
          "bFilter": false,
          "bSort": true,
          "bProcessing": true,
          "bServerSide": true,
          "aaSorting": [[1, 'asc']],
          "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']],
          "aoColumnDefs": [ { 'bSortable': false, 'aTargets': [2, 3]}],
          "sAjaxSource": "{% url 'condition_biclusters_json' %}{{species}}/{{condition}}"
        });            
      });
    </script>
    <blockquote><p>Corem Activity</p></blockquote>
		<table id="corems" class="table">
      <thead>
        <tr>
          <th class="first">Corem ID</th>
          <th>pval</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
            
    <blockquote><p>Genes</p></blockquote>
		<table id="genes" class="table">
      <thead>
				<tr>
					<th class="first">Organism</th>
          <th>Gene name</th>
					<th>Common name</th>
					<th>Accession</th>
          <th>Description</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Strand</th>
          <th>Chromosome</th>
				</tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <blockquote><p>GREs</p></blockquote>
    <table id="gres" class="table">
      <thead>
        <tr>
          <th class="first">GRE ID</th>
          <th>pval</th>
          <th>PSSM</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
            
    <blockquote><p>Biclusters</p></blockquote>
    <table id="bcs" class="table">
      <thead>
        <tr>
          <th class="first">Bicluster ID</th>
          <th>Residual</th>
          <th>Genes</th>
          <th>Conditions</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
		<!-- main ends -->
		</div>
{% endblock %}
