{% extends 'base_headerless.html' %}
{% load url from future %}
{% block title %}Conditions{% endblock %}
{% block nav %}
<!-- navigation starts-->
<div  id="nav">
	<ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
	</ul>
	<!-- navigation ends-->
</div>	
{% endblock %}
{% block content %}
<!-- content-wrap starts -->
<div id="content-wrap">
	<div id="main">
    {% for o in out %}	
    <script>
      $(document).ready(function() {  
        $("#conds{{forloop.counter}}").dataTable({
          "bFilter": false,
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'conditions_json' %}{{o.ncbi_taxonomy_id}}",
          "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']]
        });
      });
    </script>
    <blockquote><p>{{ o.species_name }} Condition Information</p></blockquote>
    <table id="conds{{forloop.counter|stringformat:"s"}}" class="dataTable" width="80%">
      <thead>
        <tr>
          <th class="first">Condition ID</th>
          <th>Condition Name</th>
          <th>Corems</th>
          <th>Genes</th>
          <th>GREs</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    {% endfor %}
		<!-- main ends -->
	</div>
{% endblock %}

