{% extends 'base.html' %}
{% load url from future %}
{% block title %}Corem {{ corem.corem_id }}{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="/static/javascripts/isblogo_mod_ab.js"></script>
{% endblock %}
{% block nav %}
<!-- navigation starts-->
	<div  id="nav">
		<ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        <li><a href="{% url 'downloads' %}">Downloads</a></li>
        <li><a href="{% url 'contact' %}">Support</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>	
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">

		<div id="main">
      <script>
        $(document).ready(function() {        
          $("#genes").dataTable({
            "bFilter": false,
            "bSort": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'corem_genes_json' %}{{species}}/{{corem}}",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']]
          });
          $("#go").dataTable({
              "bFilter": false,
              "bSort": true,
              "aaSorting": [[4, 'asc']],
              "bProcessing": true,
              "bServerSide": true,
              "sAjaxSource": "{% url 'corem_go_json' %}{{species}}/{{corem}}",
              "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']]
            });
          $("#gres").dataTable({
            "bFilter": false,
            "bSort": true,
            "aaSorting": [[1, 'asc']],
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'corem_gres_json' %}{{species}}/{{corem}}",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']]
          });
          $("#conditions").dataTable({
            "bFilter": false,
            "bSort": true,
            "aaSorting": [[2, 'asc']],
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'corem_conditions_json' %}{{species}}/{{corem}}",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']]
          });
          $("#biclusters").dataTable({
            "bFilter": false,
            "bSort": true,
            "aaSorting": [[1, 'asc']],
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'corem_biclusters_json' %}{{species}}/{{corem}}",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, 'All']],
            "aoColumnDefs": [ { 'bSortable': false, 'aTargets': [2, 3]}]
          });  
		$("#expression_tip").qtip({
			content: 'Standardized relative expression of all genes in corem in conditions where the corem is actively co-regulated (see Conditions below for details). Color blocks denote related experimental conditions (determined by array annotations, key below).',
          	position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },         
		    style: 'dark' 
		   	});
		$("#function_tip").qtip({
			content: 'Functions enriched for corem. Computed by topGO R package using GO annotations from MicrobesOnline. NOTE: reported pvals are not corrected for multiple testing.',
          	position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },        
		    style: 'dark' 
		   	});
		$("#bicluster_tip").qtip({
			content: 'Most representative biclusters (i.e. biclusters containing largest fraction of genes in corem, top decile)',
          	position: { target: 'mouse' },
          	show: 'click',
          	hide: { when: { event: 'click' } },          
		    style: 'dark' 
		   	});
		$("#gre_tip").qtip({
			content: 'GRE: gene regulatory element. Reported GREs are discovered in biclusters most representative of the corem (i.e. biclusters containing largest fraction of genes in corem, top decile), suggesting that these GREs are responsible for regulating the corem. qval is BH-corrected pval from hypergeometric test.',
			position: { target: 'mouse' },
			show: 'click',
          	hide: { when: { event: 'click' } },       
		    style: 'dark' 
		   	});
		$("#condition_tip").qtip({
			content: 'Conditional activity computed by relative standard deviation given resampling. All conditions with pval<=0.05 are reported.',
			position: { target: 'mouse' },
			show: 'click',
          	hide: { when: { event: 'click' } },          
		    style: 'dark' 
		   	});
        });
      </script>
			<blockquote><p>Expression <a id="expression_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
      <div>
        <img src="/static/images/expression/{{ s.ncbi_taxonomy_id }}/corems/{{ corem.corem_id }}.png" background-color="black" width=100% height=100% class="float-center" />
        <img src="/static/images/expression/{{ s.ncbi_taxonomy_id }}/corems/legend.png" background-color="black" width=100% height=100% class="float-center" />
      </div>
      <blockquote><p>Genes</p></blockquote>
      <table id="genes" class="table">
        <thead>
          <tr>
            <th class="first">Gene name</th>
            <th>Common name</th>
            <th>Accession</th>
            <th>Description</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Strand</th>
            <th>Chromosome</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <blockquote><p>Functional Enrichment <a id="function_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
      <table id="go" class="table">
        <thead>
          <tr>
            <th class="first">GO ID</th>
            <th>Description</th>
            <th>Ontology</th>
            <th>Genes in Corem Annotated</th>
            <th>FDR</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <blockquote><p>GREs <a id="gre_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
      <table id="gres" class="table">
        <thead>
          <tr>
            <th class="first">GRE ID</th>
            <th>qval</th>
            <th>PSSM</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <blockquote><p>Conditional Activity <a id="condition_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
      <table id="conditions" class="table">
        <thead>
          <tr>
            <th class="first">Condition ID</th>
            <th>Condition Name</th>
            <th>pval</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <blockquote><p>Biclusters <a id="bicluster_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
      <table id="biclusters" class="table">
        <thead>
          <tr>
            <th class="first">Bicluster ID</th>
            <th>Residual</th>
            <th>Genes</th>
            <th>Conditions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>      
		  <!-- main ends -->
		</div>
{% endblock %}
