{% extends 'base_headerless.html' %}
{% load url from future %}
{% block title %}Downloads{% endblock %}
{% block nav %}
	<!-- navigation starts-->
	<div  id="nav">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'browse' %}">Browse</a></li>
			<li><a href="{% url 'search' %}">Search</a></li>
			<li id="current"><a href="{% url 'downloads' %}">Downloads</a></li>
			<li><a href="{% url 'contact' %}">Support</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
                        	
           <h2><p>Expanded View</p></h2> 
           <div><p><a href="/static/Downloads/Supplement/supplement_materials.pdf"><i>Download</i></a></p></div>	
            		
            <h2><p>Expanded View Tables</p></h2>
            <div>
            	<table id="supp_tables" class="table">
        			<thead>
          				<tr>
            				<th class="first">#</th>
            				<th>Description</th>
            				<th>Formatted</th>
            				<th>Unformatted</th>
           
        				</tr>
        			</thead>
        			<tbody>
        				<tr class="row-a">
	        				<td class="first">Table E1</td>
	        				<td>Global properties of <i>H. salinarum</i> and <i>E. coli</i> ensembles</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s1.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s1.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td class="first">Table E2</td>
	        				<td><i>H. salinarum</i> GREs</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s2.doc"><i>download</i></a></td>
	        				<td></td>
        				</tr>
        				<tr class="row-a">
	        				<td class="first">Table E3</td>
	        				<td><i>E. coli</i> GREs, including matches to experimentally characterized motifs (RegulonDB)</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s3.doc"><i>download</i></a></td>
	        				<td></td>
        				</tr>
        				<tr class="row-b">
	        				<td class="first">Table E4</td>
	        				<td><i>E. coli</i> network performance statistics</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s4.xls"><i>download</i></a></td>
	        				<td></td>
        				</tr>
        				<tr class="row-a">
	        				<td class="first">Table E5</td>
	        				<td><i>E. coli</i> global fitness statistics</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s5.xls"><i>download</i></a></td>
	        				<td></td>
        				</tr>
        				<tr class="row-b">
	        				<td class="first">Table E6</td>
	        				<td><i>E. coli</i> fitness correlated gene pairs spanning multiple regulons, modeled by corems</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s6.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s6.txt"><i>download</i></a></td>
        				</tr>
        				
        				<tr class="row-a">
	        				<td class="first">Table E7</td>
	        				<td>Predicted and validated operons with multiple condition-specific isoforms: <i>H. salinarum</i> and <i>E. coli</i></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s7.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s7_hsa.txt"><i>H. salinarum</i></a>  
	        				<a href="/static/Downloads/Supplement/Tables/table_s7_eco.txt"><i>E. coli</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td class="first">Table E8</td>
	        				<td><i>H. salinarum</i>, <i>dpp</i> operon corems, GRE locations</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s8.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s8_hc21645.txt"><i>hc21645</i></a> 
	        				<a href="/static/Downloads/Supplement/Tables/table_s8_hc21279.txt"><i>hc21279</i></a> 
	        				<a href="/static/Downloads/Supplement/Tables/table_s8_hc6326.txt"><i>hc6326</i></a></td>
        				</tr>
        				<tr class="row-a">
	        				<td class="first">Table E9</td>
	        				<td><i>E. coli</i>, nucleotide corems, GRE locations</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s9.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s9_ec512157.txt"><i>ec512157</i></a> 
	        				<a href="/static/Downloads/Supplement/Tables/table_s9_ec516031.txt"><i>ec516031</i></a> 
	        				<a href="/static/Downloads/Supplement/Tables/table_s9_ec516034.txt"><i>ec516034</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td class="first">Table E10</td>
	        				<td><i>E. coli</i> multiple regulatory mechanisms coordinate single corem, ec512157</td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s10.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Supplement/Tables/table_s10.txt"><i>download</i></a></td>
        				</tr>
        			</tbody>
      			</table>
            	
            <h2><p>Supplemental Data</p></h2>
            
            <h3><p>Expression Data</p></h3>
	            <div>
	            	<p>- Tab delimited <i>Halobacterium salinarum NRC-1</i> expression data set: 2,400 genes x 1,495 arrays. <a href="/static/Downloads/Expression/hal_exp.txt"><i>Download</i></a></p>
	            	<p>- <i>Escherichia coli K-12</i> expression data available through <a href="http://homes.esat.kuleuven.be/~kmarchal/Supplementary_Information_Lemmens_2008/Index.html#array">DISTILLER</a> website</p>
	            </div>
      
            <h3><p>Environmental Ontology</p></h3>
            	<div>
            		<p>- Full <i>Halobacterium salinarum NRC-1</i> environmental ontology, .obo flat file. Requires <a href="http://oboedit.org/">OBO-edit</a> to view. <a href="/static/Downloads/EnvironmentalOntology/halo.obo"><i>Download</i></a></p>
            		<p>- <i>Halobacterium salinarum NRC-1</i> array annotations used to construct the ontology. <a href="/static/Downloads/EnvironmentalOntology/envmap.xls"><i>Download</i></a></p>
            	</div>
            
            <h2><p>Additional Data and Tables</p></h2>
            
             <table id="additional" class="table">
        			<thead>
          				<tr>
            				<th>Description</th>
            				<th>Formatted</th>
            				<th>Unformatted</th>
           
        				</tr>
        			</thead>
        			<tbody>
        				<tr class="row-a">
	        				<td>Array annotations for <i>H. salinarum</i></td>
	        				<td><a href="/static/Downloads/Tables/array_annot.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/array_annot.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td><i>H. salinarum</i> environmental ontology: array to ids</td>
	        				<td><a href="/static/Downloads/Tables/eo.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/eo.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-a">
	        				<td><i>H. salinarum</i> conditional operons</td>
	        				<td><a href="/static/Downloads/Tables/hsa_operons.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/hsa_operons.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td><i>E. coli</i> conditional operons</td>
	        				<td><a href="/static/Downloads/Tables/eco_operons.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/eco_operons.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-a">
	        				<td>Corem membership: <i>H. salinarum</i>, Gene2Corem</td>
	        				<td><a href="/static/Downloads/Tables/hsa_g2c.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/hsa_g2c.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td>Corem membership: <i>H. salinarum</i>, Corem2Gene</td>
	        				<td><a href="/static/Downloads/Tables/hsa_c2g.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/hsa_c2g.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-a">
	        				<td>Corem membership: <i>E. coli</i>, Gene2Corem</td>
	        				<td><a href="/static/Downloads/Tables/eco_g2c.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/eco_g2c.txt"><i>download</i></a></td>
        				</tr>
        				<tr class="row-b">
	        				<td>Corem membership: <i>E. coli</i>, Corem2Gene</td>
	        				<td><a href="/static/Downloads/Tables/eco_c2g.xls"><i>download</i></a></td>
	        				<td><a href="/static/Downloads/Tables/eco_c2g.txt"><i>download</i></a></td>
        				</tr>
        			</tbody>
            </table>	
            </div>
            
           
		<!-- main ends -->
		</div>
{% endblock %}
