{% extends 'base_headerless.html' %}
{% load url from future %}
{% block title %}Gene {{ g.sys_name }}{% endblock %}
{% block javascript %}
  <link rel="stylesheet" href="/static/css/colorbox.css" />
    <script type="text/javascript" src="/static/javascripts/isblogo_mod_ab.js"></script>
    <script type='text/javascript' src='/static/javascripts/jquery.colorbox-min.js'></script>


<!-- 

GGBrowser scripts to be imported

-->
<link rel="stylesheet" href="/static/css/ggbrowserweb.css" />
<script type='text/javascript' src='/static/javascripts/ggbrowserweb/getData.js'></script>
<script type='text/javascript' src='/static/javascripts/ggbrowserweb/ggbrowserweb-functions.js'></script>
<script type='text/javascript' src='/static/javascripts/ggbrowserweb/jquery.blockUI.js'></script>



  
<script type="text/javascript" src="/static/javascripts/d3/d3.v3.min.js"></script>



<script src="/static/javascripts/js/select2.js"></script>


{% endblock %}
{% block nav %}
<!-- navigation starts-->
<div  id="nav">
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'downloads' %}">Downloads</a></li>
    <li><a href="{% url 'contact' %}">Support</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
  </ul>
  <!-- navigation ends-->
</div>  
{% endblock %}
{% block content %}
<!-- content-wrap starts -->
<div id="content-wrap">
  <div id="main">
    <script>
      $(document).ready(function() {
        
        $("#gres").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gene_gres_json' %}{{species}}/{{gene}}"
        });
        $("#conditions").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[2, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gene_conditions_json' %}{{species}}/{{gene}}"
        });
        $("#biclusters").dataTable({
          "bFilter": false,
          "bSort": true,
          "aaSorting": [[1, 'asc']],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{% url 'gene_biclusters_json' %}{{species}}/{{gene}}"
        });

    $("#showSequenceLogo_hint").qtip({
        content: 'Show the genomic sequence within putative GREs. Sequence displayed only when window size is < 400bp.',
        position: { target: 'mouse' },
        show: { when: { event: 'mouseover' } },
        hide: { when: { event: 'mouseout' } },   
        style: 'dark' 
        });
    $("#ggbrowserweb_tip").qtip({
        content: "Condition-dependent promoter architecture of {{ g.sys_name }}. These plots visulize how the relative influence of regulatory sites in a promoter region vary across contexts. For each gene, we report the relative influence of GREs in the environmental context of each corem to which it belongs. The <strong>'Default'</strong> track reports all predicted GREs discovered near {{ g.sys_name }}, regardless of environmental context. Please consult <a href='/static/Downloads/Supplement/supplement_materials.pdf'>Supplementary Methods</a> for a full description of how these visualizations were computed.",
        position: { target: 'mouse' },
        show: { when: { event: 'mouseover' } },
        hide: { when: { event: 'mouseout' } },   
        style: 'dark' 
        });
    $("#gre_tip").qtip({
      content: 'Putative gene regulatory elements (GREs) discovered in the promoter region of {{ g.sys_name }}. GREs discovered frequently have lower qvals (hypergeometric test).',
            position: { target: 'mouse' },
            show: { when: { event: 'mouseover' } },
            hide: { when: { event: 'mouseout' } },             
        style: 'dark' 
        });
    $("#condition_tip").qtip({
      content: 'Conditions in which this gene is co-regulated with other genes in biclusters. Conditions discovered frequently have lower qvals (hypergeometric test).',
            position: { target: 'mouse' },
            show: { when: { event: 'mouseover' } },
            hide: { when: { event: 'mouseout' } },              
        style: 'dark' 
        });
    $("#corem_context_tip").qtip({
      content: "Add a corem to observe the state of the {{ g.sys_name }} promoter in the environmental and regulatory context of other corems (to which it does not belong).",
            position: { target: 'mouse' },
            show: { when: { event: 'mouseover' } },
            hide: { when: { event: 'mouseout' } },              
        style: 'dark' 
        });
    $("#zoom_prom_arch").colorbox({  
      title:"<div>{{ g.sys_name }} Promoter Architecture </div><div><a href='/static/images/promoter_architecture/{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}.png'><i>download</i></a></div>",
      });
      });
    </script>
    <table id="geneinfo">
      <thead>
        <tr>
          <th class="first">Organism</th>
          <th>Gene name</th>
          <th>Common name</th>
          <th>Accession</th>
          <th>Description</th>
          <th>Start</th>
          <th>Stop</th>
          <th>Strand</th>
          <th>Chromosome</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-a">
          <td class="first"><a href="{% url 'species' %}{{ s.ncbi_taxonomy_id }}">{{ s.name }}</a></td>
          <td><a href="{% url 'genes' %}{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}">{{ g.sys_name }}</a></td>
          <td>{{ g.name }}</td>
          <td><a href="http://www.ncbi.nlm.nih.gov/protein/{{ g.accession }}">{{ g.accession }}</a></td>
          <td>{{ g.description }}</td>
          <td id="gene_start">{{ g.start }}</td>
          <td id="gene_end">{{ g.stop }}</td>
          <td>{{ g.strand }}</td>
          <td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ g.chromosome.refseq }}">{{ g.chromosome.refseq }}</a></td>
        </tr>
      </tbody>
    </table>


<blockquote><p>{{ g.sys_name }} Promoter Architecture<a id="zoom_prom_arch" href="/static/images/promoter_architecture/{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}.png"> <img style="background:rgba(250, 250, 250, 0)" src="/static/zoom.png" title="Zoom"></a><a class="bookmarklet" href="javascript:javascript: (function () { var e = document.createElement('script'); if (window.location.protocol === 'https:') { e.setAttribute('src', 'https://raw.github.com/NYTimes/svg-crowbar/gh-pages/svg-crowbar.js'); } else { e.setAttribute('src', 'http://nytimes.github.com/svg-crowbar/svg-crowbar.js'); } e.setAttribute('class', 'svg-crowbar'); document.body.appendChild(e); })();"><img style="background:rgba(250, 250, 250, 0)" src="/static/download.png" title="Download"></a><a id="ggbrowserweb_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
<div id="freeze" style="width: 750px;">
<table id="table-ggbrowserweb" style="margin: 0; white-space:nowrap;">
      <tr>
          <input type="checkbox" name="showSequenceLogo" value="show" onchange="changeShowSequenceLogo()">Show Sequence</input>
          <a id="showSequenceLogo_hint" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a>
      </tr>
      <td>
          <div id="ggbrowser-principal" style="background-color:white"></div>
      </td> 
      <td>
      <table>
        
          <table id="table-ggbrowserweb" style="margin: 0; white-space:nowrap;">
        <div id="displayStatus"></div>
      <tr>
        <div id="boxes" style="display: none;">
            <div id="checkAll">
              <input type="checkbox" id="checkAll" value="checkAll" onchange="uncheckAll()" checked="true">Select All</input>
            </div>
        </div>
        </tr>
      </table>
      </td>
</table>
<fieldset id="corem_bt" style="border:1px solid;background:white ">
          <legend style="margin-right:0.5em;font:14;padding-top:0.2em;font-weight:bold;font-size:100%;">Corem Context<a id="corem_context_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0)" src="/static/help.png" ></a></legend>
          <div id="corem_box">
          </div> 
          <div>
                  <p>Corem:</p><select id="dropdown_corem"></select>
                  <input type="button" value="add" onclick="addCorem(this)">
          <div> 
        </fieldset>
</div>
<script>

window["url_gene"] = "{% url 'genes' %}";    
window["ncbi_taxonomy"] = "{{ s.ncbi_taxonomy_id }}";
window["species_"] = "{{species}}";
window["gene_"] = "{{gene}}";
window["gene_start"] = "{{ g.start }}"
window["gene_stop"] = "{{ g.stop }}"
window["gene_strand"] = "{{ g.strand }}"
window["refseq"] = "{{ g.chromosome.refseq }}"
</script>
<script type='text/javascript' src='/static/javascripts/ggbrowserweb/ggbweb-main.js'></script>





<!-- GGBrowserweb ends-->


    <blockquote><p>Corems containing {{ g.sys_name }}</p></blockquote>
    <ul>
      {% for corem in corems %}
      <li><a href="{% url 'corems' %}{{ s.ncbi_taxonomy_id }}/{{ corem.corem_id }}">{{ corem.corem_id }}</a></li>
      {% endfor %}
    </ul>

<!-- TODO - 
ggbrowserweb_tip - alter text

-->


    <!-- <blockquote><p>Promoter Architecture <a id="zoom_prom_arch" href="/static/images/promoter_architecture/{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}.png"> <img style="background:rgba(250, 250, 250, 0)" src="/static/zoom.png"></a> <a id="prom_arch" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0)" src="/static/help.png" ></a></p></blockquote>
    <img src="/static/images/promoter_architecture/{{ s.ncbi_taxonomy_id }}/{{ g.sys_name }}.png" background-color="black" width=100% height=100% class="float-center" /> -->

    <blockquote><p>Putative Regulatory Mechanisms (GREs) <a id="gre_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
    <table id="gres" class="table">
      <thead>
        <tr>
          <th class="first">GRE ID</th>
          <th>qval</th>
          <th>PSSM</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
            
    <blockquote><p>Conditions in which {{ g.sys_name }} is co-regulated with other genes<a id="condition_tip" href="#" onclick="return false;"><img style="background:rgba(250, 250, 250, 0); border:0px" src="/static/help.png" ></a></p></blockquote>
    <table id="conditions" class="table">
      <thead>
        <tr>
          <th class="first">Condition ID</th>
          <th>Condition Name</th>
          <th>qval</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
            
    <blockquote><p>Biclusters containing {{ g.sys_name }}</p></blockquote>
    <table id="biclusters" class="table">
      <thead>
        <tr>
          <th class="first">Bicluster ID</th>
          <th>Residual</th>
          <th>Genes</th>
          <th>Conditions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
      <!-- main ends -->
    </div>
  
{% endblock %}