        <form class="pager">
            <img src="/static/first.png" class="first" style="background: #e8e8e8;margin: 5px 5px 5px 5px;border: 0px;"/>
            <img src="/static/prev.png" class="prev" style="background: #e8e8e8;margin: 5px 5px 5px 5px;border: 0px;"/>
            <input type="text" class="pagedisplay" style="margin: 5px 5px 5px 5px;width:50px;"/>
            <img src="/static/next.png" class="next" style="background: #e8e8e8;margin: 5px 5px 5px 5px;border: 0px;"/>
            <img src="/static/last.png" class="last" style="background: #e8e8e8;margin: 5px 5px 5px 5px;border: 0px;"/>
            <select class="pagesize" style="margin: 5px 5px 5px 5px;">
                <option selected="selected"  value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option  value="40">40</option>
                <option value="100000">All</option>
            </select>
        </form>
</div>
