{% extends 'base.html' %}
{% load url from future %}
{% block title %}Regulators{% endblock %}
{% block nav %}
<!-- navigation starts-->
	<div  id="nav">
		<ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li id="current"><a href="{% url 'browse' %}">Browse</a></li>
      <li><a href="{% url 'search' %}">Search</a></li>
      <li><a href="{% url 'downloads' %}">Downloads</a></li>
      <li><a href="{% url 'contact' %}">Support</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>	
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
        <script>
            $(document).ready(function() {            
              $("#regulators").dataTable({
                'bFilter': false,
                "bSort": true,
                "aaSorting": [[1, 'asc']]
              });
            });
        </script>
        <blockquote><p>{{ s.name }} regulator information</p></blockquote>
			<table id="regulators" class="table">
        <thead>
          <tr>
            <th class="first">Organism</th>
            <th>TF</th>
            <th>PSSM</th>
            <th>GREs</th>
            <th>Corems</th>
            <th>Genes</th>
            <th>Conditions</th>
          </tr>
        </thead>
        <tbody>
          {% for o in out %}
          <tr class="{% cycle 'row-a' 'row-b' %}">
            <td class="first"><a href="{% url 'species' %}{{ s.ncbi_taxonomy_id }}">{{ o.s.name }}</a></td>
            <td><a href="{% url 'regulator_detail' s.ncbi_taxonomy_id o.tf %}">{{ o.tf }}</a></td>
            <td><img src="/static/images/regulators/{{ s.ncbi_taxonomy_id }}/{{ o.tf }}.png" background-color="black" width=220 height=120 class="float-center" /></td>
            <td>{{ o.gres|length }}</td>
            <td>{{ o.corems|length }}</td>
            <td>{{ o.genes|length }}</td>
            <td>{{ o.conds|length }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
		<!-- main ends -->
		</div>
{% endblock %}
