{% extends 'base.html' %}
{% load url from future %}
{% block title %}Search{% endblock %}
{% block nav %}
	<!-- navigation starts-->
	<div  id="nav">
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'browse' %}">Browse</a></li>
			<li id="current"><a href="{% url 'search' %}">Search</a></li>
			<li><a href="{% url 'downloads' %}">Downloads</a></li>
			<li><a href="{% url 'contact' %}">Support</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
		</ul>
	<!-- navigation ends-->
	</div>
{% endblock %}
{% block content %}
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<div id="main">
            <h1>Search</h1>	
			<form action="#" class="searchform">
				<p>
				<input name="search_query" class="textbox" type="text"/>
  				<input name="search" class="button" value="Search" type="submit" />
  				<p>e.g., <a href="http://egrin2.systemsbiology.net/genes/511145/b0032">b0032</a> or <a href-"http://egrin2.systemsbiology.net/corems/511145/ec516031">ec516031</a></p>
				</p>
            </form>
		<!-- main ends -->
		</div>
{% endblock %}
